<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie7" lang="nl" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie8" lang="nl" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="nl" dir="ltr"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="nl" dir="ltr"><!--
<![endif]-->
<head>
  <!-- CHARACTER ENCODING -->
  <meta charset="UTF-8">
  <!-- LATEST VERSION OF RENDERING ENGINE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- MOBILE VIEWPORT -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- MOST IMPORTANT SEO TAG -->
  <title>{{ page.title | strip_html }} | {{ site.subdomain | strip_html  }} | {{ site.domain | strip_html  }}</title>
  <!-- OTHER SEO FRIENDLY TAGS -->   
  <meta name="description" content="Drdynscript wil graag met jullie zijn app en kennis delen omtrent HTML5, CSS3 en JavaScript.">
  <meta name="keywords" content="HTML5, JavaScript, jQuery, CSS3">
  <meta name="author" content="{{ site.author }}">
  <meta name="copyright" content="{{ site.copyright }}">
  <!-- HUMANS.TXT -->
  <link rel="author" type="text/plain" href="{{ '/humans.txt' | prepend: site.baseurl }}">
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- WEBFONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <!-- STYLES -->
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <!-- MODERNIZR --> 
  <script src="{{ '/vendor/modernizr/modernizr.js' | prepend: site.baseurl }}"></script>